extends layout

block content
	div.nav
		a(href="#") 糯米
		a(href="#") 新闻
		a(href="#") hao 123
		a(href="#") 地图
		a(href="#") 视频
		a(href="#") 贴吧
		a(href="#") 登录
		a(href="#") 设置
		a.last(href="") 更多产品
	div.logo
		img(src="/images/bd_logo1.png", alt="")
		form.form
			span.form_span
				input.form_ip(type="text")
				img(src="/images/xj.png", alt="")
			a.btn(href="") 百度一下
	div.footer
		div.ewm
			img(src="/images/ewm.png", alt="")
			b 手机百度
		div.footer_nav
			div.footer_box
				p.dy_p
					a.dy(href="#") 把百度设为主页
					a(href="#") 关于百度
					a(href="#") About  Baidu
					a(href="#") 百度推广
				p.last_p
					b ©2017 Baidu 
					a(href="#") 使用百度前必读
					a(href="#") 意见反馈 
					b 京ICP证030173号  
					img(src="/images/ch.jpg", alt="")
					a.lasta(href="#") 京公网安备11000002000001号 
					img(src="/images/jh.png", alt="")
